name: build-and-test
on:
  push:
    branches-ignore:
      - 'renovate/**'
      - 'dependabot/**'

  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  run-tests:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
      - name: Check Go module dependencies
        run: |
          set -eu
          make gotidy
          git diff -s --exit-code || ( echo 'Go module dependencies are of date, please run "make gotidy"' && exit 1 )
      - name: Check API reference docs
        run: |
          set -eu
          make api-ref-docs
          git diff -s --exit-code || ( echo 'Generated API reference docs are of date, please run "make api-ref-docs"' && exit 1 )
      - name: Check generate
        run: |
          set -eu
          make generate
          git diff -s --exit-code || ( echo 'Generated files are of date, please run "make generate"' && exit 1 )
      - name: Check license headers
        run: |
          set -eu
          make checklicense
      - name: Check for vulnerabilities
        run: |
          set -eu
          make govulncheck
      - name: Run linter
        run: |
          set -eu
          make goimports-reviser lint
      - name: Run tests
        run: |
          set -eu
          make test
      - name: Build binary
        run: |
          set -eu
          make build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build OCI image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: gardener-extension-otelcol:latest
